<div id="home" class="container">
  <div class="row search-container">
    <form class="navbar-form" role="search">
      <div class="input-group">
          <input name="sb" type="text" [(ngModel)]="query" (keyup)="searchInput()" class="form-control pull-right" style="width: 300px; margin-right: 35px; border: 1px solid black; background-color: #e5e5e5;" placeholder="Search">
          <button type="submit" class="btn btn-default">
								<span class="glyphicon glyphicon-search">
									<span class="sr-only">Search</span>
								</span>
        </button>
      </div>
    </form>
    <div>
      <p>
        Score Filter: {{ sliderValue }} <input type="range" step="0.01" min="0" max="10" [(ngModel)]="sliderValue" />
      </p>
    </div>
  </div>
  <div class="shows-container row">
    <div *ngFor="let show of shows | score:sliderValue;let i=index" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 show-container">
      <a [routerLink]="['/show', show.show.id]">
        <div class="show-score">
          <p class="text-right score"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>{{show.score | number : '1.2-2'}}</p>
        </div>
        <div class="show-image">
          <img *ngIf="show.show.image" src="{{show.show.image.original}}" alt="">
          <img *ngIf="!show.show.image" src="../../assets/img/no-image.png" alt="">
        </div>
        <div class="show-info">
          {{show.show.name}}
        </div>
      </a>
    </div>
  </div>
</div>


<!--
      Id: {{show.show.id}}<br>
      Score: {{show.score | number : '1.2-2'}}
      Genres: {{show.show.genres}}<br>
      Image: <br>
      Language: {{show.show.language}}<br>
      Name: {{show.show.name}}<br>
      Country: {{show.show.network.country["name"]}}<br>
      Premiered: {{show.show.premiered}}<br>
      Users Rating: {{show.show.rating["average"]}}<br>
      Status: {{show.show.status}}<br>
      Summary: {{show.show.summary}}<br>
      Type: {{show.show.type}}<br>
-->

